{% extends "template.njk" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-width-container ">
    <main class="govuk-main-wrapper">

      <h1 class="govuk-heading-l">You are logged in to {{ serviceName }}</h1>

      <h2 class="govuk-heading-m">Access Token</h2>
      <pre>{{ resultData.accessToken | dump(2) }}</pre>

      <h2 class="govuk-heading-m">ID Token</h2>
      <pre>{{ resultData.idToken | dump(2) }}</pre>

      <h2 class="govuk-heading-m">Subject identifier</h2>
      <pre>{{ resultData.sub }}</pre>

      <h2 class="govuk-heading-m">User Info</h2>
      <pre><code>{{ resultData.userinfo | dump(2) }}</code></pre>

      <h2 class="govuk-heading-m">Return code</h2>
      {% if resultData.returnCode %}
      <pre>{{ resultData.returnCode | dump(2) }}</pre>
      {% else %}
      <p class="govuk-body-m">None</p>
      {% endif %}

      <h2 class="govuk-heading-m">Core Identity Claim</h2>
      {% if resultData.coreIdentity %}
      <pre>{{ resultData.coreIdentity | dump(2) }}</pre>
      {% else %}
      <p class="govuk-body-m">None</p>
      {% endif %}
      
      {{ govukButton({
        text: "Logout",
        href: "logout"
      }) }}

    </div>
  </main>
</div>
{% endblock %}