# Microsoft Visual Studio user options file
*.suo
*.user
*.userosscache
*.sln.docstates

# Microsoft Visual Studio build files
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# VS Code settings and debug files
.vscode/
launch.json
tasks.json