{% extends "template.njk" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-width-container ">
    <main class="govuk-main-wrapper">

      <h1 class="govuk-heading-l">{{ serviceName | safe }}</h1>
      <p class="govuk-body">
        {{ serviceIntroMessage | safe }}
      </p>

      {{ govukButton({
        text: "Start now",
        href: "/oauth/" + serviceType,
        isStartButton: true
      }) }}

    </div>
  </main>
</div>
{% endblock %}